

body {
    font-family: Raleway, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


article { 
	box-shadow: 2px 3px 20px -5px #cccccc; 
}


article:hover {
	transform: scale(1.007);
}


a {
	text-decoration: none;
	color: #0065FC;
}


a:visited {
	color: black;
}


p {
	font-weight: 400;

}


.price {
	font-weight:600;
}


/* -- Blue #0065FC 

   -- Lighter Blue #DEEBFF

   -- Gray #F2F2f2

   -- Darker Gray #D9D9D9

*/

/*  Wrapper for everything above the sections */

header {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 15px;
	width: 99%;
}

/*  Wrapper for everything in body */

main {
	max-width: 1700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 15px 0px 15px;


}

/*  Wrapper for section 1 and section 2  */

#section1andsection2 {
	width: 99%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;

}


#mobilenav {  			
	display: none;

}


ul {
	text-align: right;
	
}


li {
	
	display: inline-block;
	color: #0065FC;
	padding: 3% 3% 0% 3%;
	font-size: 16px;
	border-top-style: solid;
	border-top-color: #ffffff;

}


nav a {
	color: #0065FC !important;

}


li:hover {
	border-top-style: solid;
	border-top-color: #0065FC;

}




/*  Logo and text under the logo  */

#logowrapper {

	display: flex;
	flex-direction: column;
	
}


#logowrapper-logo { 
	width: 100px;
	margin: 0px 0px 30px -5px;
}


#logowrapper-description h3 {    
	font-size: 21px;
	margin: 0px 0px 8px 0px;


}

#logowrapper-description p {     
	font-size: 15.5px;
	margin: 0px 0px 20px 0px;

}


/*  Search Bar  */

#search-bar {
	display: flex;
	width: 380px;
	height: 50px;
	justify-content: space-between;

}


#search-bar i {
	background-color: #F2F2f2;
	height: 37px;
	width: 37px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;

}

#search-bar input { 
	
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-indent: 17px;
	font-size: 18px;
	border-style: none;
	outline: none;
	border-top: .2px solid #F2F2f2;
	border-bottom: .2px solid #F2F2f2;
	width: 234px;

}


input:focus { 
	border-style: none;
	outline: none;
	
}

input::placeholder { 
	text-indent: 17px;
	font-weight: 500;
	color: black;

}


#search-bar i:first-of-type {
	height: 50px;
	width: 52px;
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;

}

#search-bar i:last-of-type { /* hides the magnifying glass icon for mobile */
	display: none;

}


#search-bar button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0065FC;
	height: 50px;
	width: 94px;
	margin: 0px;
	padding: 0px;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	color: white;
	border-style: none;
	font-size: 18px;
	
}


/*  Filter Buttons  */

/*  Wrapper for buttons and text  */

#filter-buttons-wrapper  { 					
	display: flex;
	align-items: center;
	padding: 30px 0px 15px 0px;
	width: 100%;
	height: 50px;

}


#filter-buttons-wrapper  button {  				
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
}


/* Styles text that says Filter left of the buttons */

#filter-buttons-header { 					
	padding-right: 10px;
	font-weight: bold;
	font-size: 18px;

}


/*  Icons inside of filter buttons  */

#filter-buttons-wrapper  i { 					
	color: #0065FC;
	background-color: #DEEBFF;
	height: 46px;
	width: 46px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #DEEBFF;
	position: relative;
	left: -3px;
	bottom: -.24333333px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 19px;	

}


/* Keeps text black on click */

.filter-buttons:active { 				
	color: black;
}


.filter-buttons:hover {
		box-shadow: 2px 2px 15px -5px #cccccc; 
		transform: scale(1.007);
		
}


/* Filter button containers (includes the icon and text)  */

.filter-buttons {  						
		height: 50px !important;
		margin: 1em;
		border: 2px solid #D9D9D9;
		border-radius: 35px;
		padding: 0px 18px 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		white-space: nowrap;
		font-size: 17px;
		font-weight: 600;

}



/*  i icon and 'more than 500 accommodations...  */
	
/* "more than 500 accomodations...." */

#number-of-accommodations {							
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	width: 427px;

}

	#icon {
	font-size: 12px;
	border-radius: 25px;
	color: #0065FC;
	border: 1.5px solid #F2F2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5px;
	width: 5px;
	padding: 9px;


}


#number-of-accommodations p {
	font-size: 16px;
	padding-left: 12px;

}


main > a {
	height: 199px;
	
}





/*  Section 1 container with 6 articles  */

.section1 {
	width: 65%;
	min-width: 740px;
	height: 625px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 15px;

}


/*  Articles inside of Section 1  */

.section1 article {
	height: 199px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	line-height: 1px;
	border-radius: 25px;
	background-color: white;
	border: 5px solid white;
	margin-bottom: 30px;
}

.section1 a {
	width: 28%;
}

.section1 a:nth-of-type(1) {
	margin-left: 2%;
}

.section1 a:nth-of-type(3) {
	margin-right: 2%;
}

.section1 a:nth-of-type(4) {
	margin-left: 2%;
}

.section1 a:nth-of-type(6) {
	margin-right: 2%;
}

.section1 h2 {
	width: 95%;
	margin: 43px 0px 20px 35px;
	display: flex;
	font-size: 21px;
	
}


.section1 img {
	height: 114px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 23px;
	border-top-right-radius: 23px;

}

.star-group {
	display: inline;
	margin-top: 1px;
	color: #0065FC;
	margin-bottom: 5px;

}

.star-group i:nth-child(1) {
	margin-left: 10px;

}

/* Section 1 gray stars */


.section1 a:nth-of-type(odd) .star-group i:nth-of-type(5) {
	color: #dedede;
}

.section1 a:nth-of-type(4) .star-group i:nth-of-type(n+4) {
	color: #dedede;
}



.section1 h4 {
	margin-left: 10px;
	font-size: 16px;
	height: 100%;
 } 


.section1 p {
	margin: 0px 0px 12px 10px;
	font-size: 15px;
}

.star-individual {
	padding: 0px;
	margin-right: -4px;
	margin-bottom: 3px;
	font-size: 12px;
}


.section1 h3 {
	width: 95%;
	font-size: 17px;
	margin: 10px 0px 20px 35px;

}


/*  Section 2 container with 6 articles  */

.section2 {
	height: 625px;
	width: 450px;
	border-radius: 15px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


/* Section 2 Images */

.section2 img {
	height: 145px;
	width: 41% !important;
	object-fit: cover;
	border-top-left-radius: 15px;

}


/*  Section 2 header and chart icon  */

#section2-header {
	width: 85%;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	align-items: center;
	justify-content: space-between;
	margin: 23px 37px 10px 37px;

}

.section2 a {
	width: 85%;

}



/*  Section 2 articles  */

.section2 article {
	height: 145px;
	width: 100%;
	margin: 0px 0px 30px 0px;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	background-color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 20px;
	border: 5px solid white;
	
}


#section2-header i {
	font-size: 22px;

}


#section2-header h2 {
	font-size: 21px;

}


/* Text and star icons */

.section2-article-text-and-stars {       
	width: 59%;
	height: 100px;

	
}


/* h4 and p for articles in section 2 */

.section2-article-text-only {                    
	height: 74px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}


.section2 p {
	font-size: 15px;
	margin-left: 10px;
}


.section2 h4 {
	font-size: 16px;
	height: 100%;
	margin-left: 10px;
}

.section2-article-text-and-stars i {
	color: #0065FC;
	margin-top: 44px;

}
     

/* Section 2 gray stars */

.section2 i:nth-of-type(1) {
	margin-left: 10px;
}
 
.section2 article i:nth-of-type(5) {
	color: #dedede;
}

.section2 a:nth-of-type(1) i:nth-of-type(5) {
	color: #0065FC;
}

			/* media query for section 1/2 (smaller desktop screen) */

			@media screen and (max-width: 1335px) {

			  .section1 {
			  	width: 99%;
			  }

			  .section1 img {
			  	width: 100%;
			  }




			.section2 {
				width: 99%;
				height: 350px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-around;
				background-color: #F2F2F2;
			  	border-radius: 15px;
			  	margin: 60px 0px 30px 0px;

			}


			.section2 img {
				height: 53%;
				width: 100% !important;
				object-fit: cover;
			}

			/*  Section 2 header with chart icon  */

			#section2-header {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-self: flex-start;
				align-items: center;
				justify-content: space-between;
				margin: 18px 20px 20px 4%;
				
			}


			#section2-header h2 {
				font-size: 21px;

			}


			/*  Section 2 articles  */

			.section2 a {
				width: 28%;
			}

			.section2 a:nth-of-type(1) {
					margin-left: 2%;
				}

			.section2 a:nth-of-type(3) {
					margin-right: 2%;
				}

			.section2 article {
				height: 218px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
			    -webkit-box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				overflow: hidden;
				border-radius: 25px;
				background-color: white;
				border: 5px solid white;

			}


			#section2-header i {
				font-size: 1.5em;
				margin-right: 3%;

			}


			.section2-article-text-and-stars {
				
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}

			.section2-article-text-only {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				height: 60px;
			}


			.section2 p {
				line-height: 0px;
				margin-top: 0px;
				font-size: 15px;
				width: 200px;
				margin: 15px 0px 8px 10px;
			}


			.section2 h4 {
				margin: 8px 0px 0px 10px;
			}


			.section2-article-text-and-stars i {
				color: #0065FC;
				margin: 5px 1px 0px 0px;
				line-height: 0px;

			}
			}
/*  Section 3 */



.section3 {
    width: 99%;
 	max-width: 1700px;
}

#section3-articles {
	width: 100%;
 	max-width: 1700px;
    height: 445px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  	align-content: space-between;
  	justify-content: space-between;
  	margin-bottom: 100px;


}

.section3 a {
	width: 100%;
}

.section3 h2 {
	width: 100%;
	font-size: 21px;
	margin: 60px 0px 20px 5px;
}

#section3-articles h4 {
	margin-left: 20px;
	font-size: 16px;
	position: relative;
	bottom: 5px;
}


#section3-articles article {       
	overflow: hidden;
	border-radius: 20px;
	border-color: #f2f2f2;

}


#section3-articles > article:nth-of-type(1) {  
  	height: 445px;
  	width: 23%; 
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
 	justify-content: flex-end;

}

.section3 article:nth-of-type(1) a img {
	height: 389px;
  	width: 100%;
  	object-fit: cover;
}



#section3-articles > article:nth-of-type(2) { 
  	height: 237px;
  	width: 23%;
 	display: flex;
 	flex-direction: column;
 	align-items: flex-start;
 	justify-content: flex-end;
}

.section3 article:nth-of-type(2) a img {
    height: 181px;
    width: 100%;
    object-fit: cover; 
 	object-position: center 40%;
}

	
#section3-articles > article:nth-of-type(3) { 
  height: 164px;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

}


.section3 article:nth-of-type(3) a img {
	height: 108px;
	width: 100%;
	object-fit: cover;
	object-position: center 32%;
}


#section3-articles > article:nth-of-type(4) {  
	height: 445px;
  	width: 23%;
  	display: flex;
 	flex-direction: column;
 	align-items: flex-start;
 	justify-content: flex-end;
}


.section3 article:nth-of-type(4) a img {
  height: 389px;
  width: 100%;
  object-fit: cover;

}


#section3-articles > article:nth-of-type(5) { 
  height: 195px;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  
}


.section3 article:nth-of-type(5) a img {
  object-position: center 16%;
  height: 139px;
  width: 100%;
  object-fit: cover;
}


#section3-articles > article:nth-of-type(6) { 
  height: 209px;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

}

.section3 article:nth-of-type(6) a img {
  height: 153px;
  width: 100%;
  object-fit: cover;
}


#section3-articles a {
	height: 100%;

}


/*  Footer  */

footer {
	display: flex;
	flex-direction: column;
	height: 218px;
	width: 99%;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	padding: 20px 20px 20px 20px;
	margin: 0px;
}


.footcolumn {
	width: 23%;
	display: flex;
	flex-direction: column;
	margin-left: 1%;


}


.footcolumn a {
	color: #000000;
	padding-bottom: 15px;
	font-size: 16px;
}


.footcolumn h3 {
	font-size: 19px;
}
