body {
    font-family: 'Raleway';
   	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0px;
	overflow-x: hidden;

}



main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

}


article { 
	box-shadow: 2px 3px 20px -5px #cccccc; 
}


article:hover {
	transform: scale(1.007);
}


a {
	text-decoration: none;

}


a:visited {
	color: black;
}


p {
	font-weight: 400;
	
}

.price {
	font-weight:600;
}

/* Top section- includes nav, search bar, filters etc */ 

header {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

/*  Nav  */

#logowrapper-logo {
	position: absolute;
	top: 25px;
	left: 5%;
}

	@media screen and (min-width: 495px) {
		#logowrapper-logo {
			margin: 0px;
			position: absolute;
			top: 25px;
			left: 13%;
}
	}


nav ul {
	display: flex;
	justify-content: space-around;
	margin: 0px;
	padding: 0px;
	list-style-type: none;

}


/* Accomodations and Activities links in nav */


nav ul li:nth-of-type(-n+2) {
	width: 100%;

}

nav ul li a {
	width: 100%;
	margin-top: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 12px;
	border-bottom: 3px solid #F2F2f2;

}


nav ul li a:hover {
	border-bottom: 3px solid #0065FC;
	color: #0065FC;
}


/* Sign Up link */

nav ul li:nth-of-type(3) {
	margin: 0px;
	position: absolute;
	top: -50px;
	right: 12%;
}


	@media screen and (min-width: 495px) {
		nav ul li:nth-of-type(3) {
			margin: 0px;
			position: absolute;
			top: -50px;
			right: 17%;
}
	}


nav ul li:nth-of-type(3) a {
	border-bottom: none;
	color: #0065FC;
}

/* Find a place for your dream vacation */

#logowrapper-description h3 {   
	font-size: 21px;
	margin-bottom: 0px;
}

#logowrapper-description p {
	margin-top: 10px;


}

#logowrapper-description {
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#logowrapper {
	display: flex;
	flex-direction: row;
	width: 89%;
	max-width: 400px;
	align-self: center;
}



/*  Search Bar  */

#search-bar {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 15px;
	width: 89%;
	max-width: 400px;
	align-self: center;


}




#search-bar-button {  /* Hides desktop blue 'Search' button in search bar */           
	display: none;
}

/*  Map Icon  */

#search-bar i {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background-color: #F2F2f2;
	height: 51px;
	width: 51px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	position: relative;
	left: 0px;
	flex-shrink: 0;
	
}

/*  Input Box */

#search-bar input { /* Styles input box */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 74%;
	height: 51px;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-indent: 17px;
	font-size: 18px;
	border-style: none;
	outline: none;

	
}


input:focus { /*  Gets rid of default outline and borders on click  */
	border-style: none;
	outline: none;

}


input::placeholder { /*  Styles placeholder text  */
	text-indent: 17px;
	color: black;
	font-weight: 600;

}


/*  Magnifying Glass search button in the search bar*/

#search-bar i:last-of-type {
	color: white;
	background-color: #0065FC;
	border-radius: 15px;
	position: relative;
	right: 50px;
}




/*  Filters  */

#filter-buttons-header { /* Styles text that says Filter left of the buttons */
	width: 100%;
	font-weight: bold;
	height: 22px;
	margin: 26px 0px 20px 0px;
	font-size: 18px;	
}


#filter-buttons-wrapper { /* Container for filters including filter button*/
	width: 89%;
	max-width: 400px;
	min-height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: center;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}	


#filter-buttons-wrapper i { /*   JUST THE ICONS    */
	color: #0065FC;
	background-color: #DEEBFF;
	height: 19px;
	width: 19px;
	padding: .75em;
	border-radius: 100%;
	margin-right: 5px;
	border: 2px solid #DEEBFF;
	position: relative;
	left: -2px;
	display: flex;
	align-items: center;
	justify-content: center;

}


.filter-buttons {  /* Filter button containers (includes the icon and text)  */
	margin: 0px 15px 13px 0px;
	border: 2px solid #E8E8E8;
	border-radius: 25px;
	padding: 0px 20px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	width: -moz-fit-content;
	height: 50px;

}


.filter-buttons:nth-of-type(1) {  /* Low Cost */

}



.filter-buttons:nth-of-type(2) {  /* Family Friendly */
	order: 3;


} 

.filter-buttons:nth-of-type(3) {  /* Romantic */
	padding-right: 25px;

} 


.filter-buttons:nth-of-type(4) { /*  Pets allowed  */
	order: 4;
	padding-right: 25px;

}



#filter-buttons-wrapper button {  /*  Styles the text portion of the filter buttons  */
	background-color: white;
	font-size: 16px;
	font-weight: bold;


}


.filter-buttons:active { /*  Keeps text black on click  */
	color: black;

}

.filter-buttons:hover {
	box-shadow: 2px 2px 15px -5px #cccccc; 
	transform: scale(1.007);

}



/* "more than 500 accomodations...." */

#number-of-accommodations {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	width: 89%;
	max-width: 400px;
	margin: 17px 0px 17px 0px;
	align-self: center;
}

#icon {
	font-size: 12px;
	border-radius: 25px;
	color: #0065FC;
	border: 1.5px solid #F2F2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5px;
	width: 5px;
	padding: 9px;

}


#number-of-accommodations p {
	font-size: 15px;
	margin-left: 10px;


}


/*  Sections 1 and 2 container  */

#section1andsection2 { 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

}


/*  Section 1 container with 6 articles  */

.section1 * {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}

.section1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	order: 2;
}


/*  Articles inside of section 1  */

.section1 article {
	width: 100%;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 5px solid white;
	overflow: hidden;
	border-radius: 25px;
	background-color: white;
	margin: 12px 0px 8px 0px;

}

.section1 a {
	width: 89%;
	max-width: 400px;
	padding: 0px;


}


.section1 h2 {
	width: 89%;
	max-width: 400px;
	margin: 41px 0px 10px 0px;
	font-size: 23px;
	font-weight: 600;
}




/* Section 1 Images */

.section1 img{
	height: 65%;
	width: 100%;
	object-fit: cover;

}


.star-group {
	display: inline;
	margin-top: 1px;
	color: #0065FC;
	margin-bottom: 5px;

}


.star-group i:nth-child(1) {
	margin-left: 10px;

}


/* Section 1 h4 and p inside of article */

.section1 h4 {
	margin: 10px 0px 0px 10px;
	font-size: 16px;

}


.section1 p {
	margin-left: 5px;
	font-size: 14px;
	margin: 5px 0px 0px 10px;

}



/* Section 1 gray stars */


.section1 a:nth-of-type(odd) .star-group i:nth-of-type(5) {
	color: #dedede;
}

.section1 a:nth-of-type(4) .star-group i:nth-of-type(n+4) {
	color: #dedede;
}


.section1 h3 {
	width: 85%;
	max-width: 380px;

}

/* Star Sizing */

.star-individual {
	margin-right: -3px;
	font-size: 12px;
}

/*  Section 2  */



/* Section 2 Images */
.section2 img {
	height: 144px;
	

}



/*  Section 2 container with 3 articles  */

.section2 * {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.section2 {
	width: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	order: 1;
	padding-bottom: 30px;

}


/*  SECTION 2 "MOST POPULAR" text with chart icon  */



#section2-header {
	width: 89%;
	max-width: 400px;
	margin: 31px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}


	#section2-header h2 {
	font-size: 23px;
	font-weight: 600;
		
	}

	#section2-header i {
	font-size: 25px;
	font-weight: 600;

	}


/*  Section 2 articles  */

.section2 article {
	height: 164px;
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	border: 5px solid #fff;
	align-self: center;
	margin-bottom: 11px;
	box-shadow: 2px 3px 20px -5px #cccccc; 

}

.section2 a {
	padding: 0px;
	width: 89%;
	max-width: 400px;
	 
}

.section2 div:nth-of-type(4){
	margin-bottom: 10px;

}


.section2 img {
	width: 39%;
	height: 100%;
	object-fit: cover;
}



.section2-article-text-and-stars {
	width: 59%;


}

/* Section 2 Article header and p */

.section2 h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 13px 0px 0px 12px;
	height: 35px;

}


.section2 p {
	font-size: 15px;
	margin: 13px 0px 0px 12px;
	width: 173px;
	white-space: nowrap;
}



.section2-article-text-and-stars i {
	color: #0065FC;
	margin-top: 45px;
	margin-right: -3px;
	font-size: 12px;
	margin-bottom: 12px;

}

.section2 i:nth-of-type(1) {
	margin-left: 18px;

}

/* Section 2 gray stars */

 
.section2 article i:nth-of-type(5) {
	color: #dedede;
}

.section2 a:nth-of-type(1) i:nth-of-type(5) {
	color: #0065FC;
}


/*  Section 3  */

.section3 {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}


.section3 a {
	width: 100%;
}

#section3-articles {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}



.section3 h2 {
	width: 89%;
	max-width: 400px;
	margin: 41px 0px 30px 0px;
	font-size: 23px;
	font-weight: 600;


}

#section3-articles article {  
  	height: 220px;
  	width: 89%;
	max-width: 400px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
 	justify-content: flex-end;
	overflow: hidden;
	margin-bottom: 24px;
	border-radius: 20px;

}


#section3-articles img {
  height: 170px;  
  width: 100%;
  object-fit: cover;
}

.section3 article:nth-of-type(1) a img {
  object-position: center -15px;
}

.section3 article:nth-of-type(2) a img {
  object-position: center 43%;
}

.section3 article:nth-of-type(3) a img {
  object-position: center -10px;
}

.section3 article:nth-of-type(4) a img {
  object-position: center -15px;
}

.section3 article:nth-of-type(5) a img {
  object-position: center -15px;
}

.section3 article:nth-of-type(6) a img {
  object-position: center -15px;
}




#section3-articles h4 {
	height: 51px;
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 0px 15px;
	display: flex;
	align-items: center;

}




/*  Footer  */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #F2F2F2;
	font-size: 16px;
	height: 485px;
	margin-top: 47px;
	overflow: hidden;
}


.footcolumn {
	width: 95%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

#footercolumn1 {
	margin: 47px 0px 44px 35px;
	padding: 0px;
}

#footercolumn2 {
	margin: 0px 0px 44px 35px; 
	padding: 0px;
}

#footercolumn3 {
	margin: 0px 0px 44px 35px;
	padding: 0px; 
}

.footcolumn a {
	color: #000000;
	padding-bottom: 13px;
	font-weight: 400;
}

.footcolumn a:first-of-type {
	margin-top: 19px;
}


.footcolumn h3 {
	margin: 0px;
}

.footcolumn a:last-of-type {
	padding-bottom: 0px;
}