body {
    font-family: 'Raleway';
   	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0px;

}

article { 
	box-shadow: 2px 3px 20px -5px #cccccc; 
}


article:hover {
	transform: scale(1.007);
}


a {
	text-decoration: none;

}


a:visited {
	color: black;
}


p {
	font-weight: 400;
	
}

.price {
	font-weight:600;
}

/*  Nav  */

nav:nth-of-type(1) {
	display: none;

}


#logo {  /* hides logo for desktop and tablet */
	display: none;

}




#mobilenav {
	display: flex;
	flex-direction: column;
	width: 100%;
	
}

#logoandsignuplink {
	width: 89%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-self: center;
	margin-top: 16px;


}





#signupmobile {
	white-space: nowrap;
	color: #0065FC;
	font-size: 16px;

}


#signupmobile:hover {
	color: black;

}


#accomandactivities {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 42px 0px 15px 0px;	

}

.underlogo h3 {
	font-size: 21px;
	margin-bottom: 0px;
	
}

.underlogo p {
	margin-top: 10px;

}

.underlogo {
	width: 100%;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.logowrapper {
	width: 89%;
	max-width: 342px;
	display: flex;
	flex-direction: row;

}


#accomandactivities > a {
	width: 50%;
	color: black;
	text-align: center;
	border-bottom: 3px solid #F2F2f2;
	padding-bottom: 15px;
	font-size: 16px;

}


#accomandactivities > a:hover {     /* Hover effects for nav links */
	border-bottom: 3px solid #0065FC;
	color: #0065FC;

}


/*  Search Bar  */

#search {
	display: flex;
	border-top: .5px solid #f2f2f2;
	border-bottom: .5px solid #f2f2f2;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 15px;
	width: 89%;
	max-width: 342px;


}


/* Hides desktop search button */

.searchbutton {              
	display: none;
}

/*  Map Icon  */

#search i {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background-color: #F2F2f2;
	height: 51px;
	width: 51px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	position: relative;
	left: 0px;
	flex-shrink: 0;
	
}

/*  Input Box */

#search input { /* Styles input box */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 74%;
	max-width: 300px;
	height: 51px;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-indent: 17px;
	font-size: 18px;
	border-style: none;
	outline: none;

	
}


input:focus { /*  Gets rid of default outline and borders on click  */
	border-style: none;
	outline: none;

}


input::placeholder { /*  Styles placeholder text  */
	text-indent: 17px;
	color: black;
	font-weight: 600;

}


/*  Search button*/

#search i:last-of-type {
	color: white;
	background-color: #0065FC;
	border-radius: 15px;

}


/*  Filters  */

.filtertextmobile { /* Styles text that says Filter left of the buttons */

	font-weight: bold;
	width: 89%;
	max-width: 342px;
	height: 22px;
	margin: 36px 0px 16px 4%;
	font-size: 18px;
	
	
}


.filters { /* Container for filters including filter button*/
	width: 342px;
	height: 192px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
}	


.filters i { /*   JUST THE ICONS    */
	color: #0065FC;
	background-color: #DEEBFF;
	height: 19px;
	width: 19px;
	padding: .75em;
	border-radius: 100%;
	margin-right: 12px;
	border: 2px solid #DEEBFF;
	position: relative;
	left: -2px;
	display: flex;
	align-items: center;
	justify-content: center;

}


.option {  /* Filter button containers (includes the icon and text)  */
	margin: 7px 0px 7px 0px;
	border: 2px solid #E8E8E8;
	border-radius: 25px;
	padding: 0em .75em 0em 0em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	width: -moz-fit-content;
	height: 50px;
	
}


.option:nth-of-type(1) {  /* Low Cost */
	padding-right: 18px;


}


.option:nth-of-type(3) { /* Romatic */
	padding-right: 31px;
	order: 4;
	position: relative;
	left: -45px;

}

.option:nth-of-type(4) { /*  Pets allowed  */
	padding-right: 56px;
	order: 3;

}



.filters button {  /*  Styles the text portion of the filter buttons  */
	background-color: white;
	font-size: 16px;
	font-weight: bold;

}


.option:active { /*  Keeps text black on click  */
	color: black;

}

.option:hover {
	box-shadow: 2px 2px 15px -5px #cccccc; 
	transform: scale(1.007);

}

.filtertext {
	display: none;

}


/* "more than 500 accomodations...." */

.info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	width: 89%;
	margin: 17px 0px 17px 0px;
}

/*  i icon  */

#icon {
	font-size: 12px;
	border-radius: 25px;
	color: #0065FC;
	border: 1.5px solid #F2F2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5px;
	width: 5px;
	padding: 9px;

}


.info p {
	font-size: 15px;
	margin-left: 10px;


}


/*  Sections 1 and 2 container  */

#section1andsection2 { 
	display: flex;
	flex-direction: column;
	width: 100%;

}


/*  Section 1 container with 6 articles  */

.section1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	order: 2;
	
}


/*  Articles inside of section 1  */

.section1 article {
	width: 334px;
	height: 199px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 5px solid white;
	overflow: hidden;
	border-radius: 25px;
	background-color: white;
	margin: 12px 12px 8px 12px;

}


.section1 h2 {
	width: 334px;
	margin: 41px 0px 10px 0px;
	font-size: 21px;
	font-weight: 700;

}




/* Section 1 Images */

.section1 img{
	height: 65%;
	width: 100%;
	object-fit: cover;

}


.rating {
	display: inline;
	margin-top: 1px;
	color: #0065FC;
	margin-bottom: 5px;

}


.rating i:nth-child(1) {
	margin-left: 10px;

}


/* Section 1 h4 and p inside of article */

.section1 h4 {
	margin: 10px 0px 0px 10px;
	font-size: 16px;

}


.section1 p {
	margin-left: 5px;
	font-size: 14px;
	margin: 5px 0px 0px 10px;

}


.section1 > h4:last-of-type {
	width: 100%;
	margin-left: 200px;
	
}	


/* Section 1 gray stars */
 
#Auberge > i:nth-of-type(5) {
	color: #dedede;

}


#Lesmouettes> i:nth-of-type(5) {
	color: #dedede;
	
}


#delamar> i:nth-of-type(n+4) {
	color: #dedede;
	
}


#aubergelepanier > i:nth-of-type(5) {
	color: #dedede;
}

.section1 h3 {
	width: 334px;

}

/* Star Sizing */

.staricon {
	margin-right: -3px;
	font-size: 12px;
}

/*  Section 2  */


/* Section 2 Images */
.section2 img {
	height: 144px;
	border-top-left-radius: 15px;

}



/*  Section 2 container with 3 articles  */

.section2 {
	width: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 38px;

}


/*  SECTION 2 "MOST POPULAR" text with chart icon  */

#section2header {
	width: 334px;
	margin: 41px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}


#section2header h2 {
	font-size: 21px;
	font-weight: 700;
	
}


/*  Section 2 articles  */

.section2 article {
	height: 144px;
	width: 334px;
	margin: 9px 9px 0px 9px;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	border: 6px solid white;
	
}


.section2 div:nth-of-type(4){
	margin-bottom: 10px;

}


.section2 img {
	width: 132px;
	object-fit: cover;

}


#section2header i {
	font-size: 23px;
	
	
}


.section2text {
	width: 202px;
	margin-right: 15px;

}

/* Section 2 Article header and p */

.section2 h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 13px 0px 0px 18px;
	height: 35px;

}


.section2 p {
	font-size: 15px;
	margin: 13px 0px 0px 18px;

}



.section2text i {
	color: #0065FC;
	margin-top: 45px;
	margin-right: -3px;
	font-size: 12px;

}

.section2 i:nth-of-type(1) {
	margin-left: 18px;

}

/* Section 2 gray stars */
 
#morningsun > i:nth-of-type(5) {
	color: #dedede;

}


#bedandbreakfast > i:nth-of-type(5) {
	color: #dedede;

}


#toutbleu > i:nth-of-type(5) {
	color: #dedede;

}




/*  Section 3  */

.section3 {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

}

#section3headertablet {
	width: 375px;
	margin-left: 40px;
	margin-top: 40px;

}

#section3headerdesktop {
	display: none;

}


.section3 article {  
  	height: 190px;
  	width: 334px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
 	justify-content: flex-end;
	overflow: hidden;
	margin-bottom: 24px;
	border-radius: 20px;

}


.section3 img {
  height: 140px;  
  width: 334px;
  object-fit: cover;

}


.section3 h4 {
	height: 51px;
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 0px 15px;
	display: flex;
	align-items: center;

}


.section3 h2 {
	font-size: 21px;
	margin-bottom: 30px;

}

/*  Footer  */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;


	background-color: #F2F2F2;
	font-size: 16px;
	height: 485px;
	margin-top: 47px;

}


.footcolumn {
	width: 334px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	
}


#footercolumn1 {
	margin: 47px 0px 44px 0px;
	padding: 0px;

}


#footercolumn2 {
	margin: 0px 0px 44px 0px; 
	padding: 0px;

}


#footercolumn3 {
	margin: 0px 0px 44px 0px;
	padding: 0px; 

}


.footcolumn a {
	color: #000000;
	padding-bottom: 13px;
	font-weight: 400;

}


.footcolumn a:first-of-type {
	margin-top: 19px;
	
}


.footcolumn h3 {
	font-weight: 900;
	margin: 0px;

}


.footcolumn a:last-of-type {
	padding-bottom: 0px;

}