body {
    font-family: 'Raleway';
   	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	margin: 0px;
	}


/* ---------------- Hover Effects (Remove section2mostpop and .section3 > div when I change divs into articles) */

article:hover {
	transform: scale(1.007);
}


article { 
	box-shadow: 2px 3px 20px -5px #cccccc; 
}




/* -- Blue #0065FC 

   -- Lighter Blue #DEEBFF

   -- Gray #F2F2f2

   -- Darker Gray (for Filter Button border) #D9D9D9

----------------------*/


/* ------------------ MOBILE NAV ----------------------*/

nav:nth-of-type(1) {
	display: none;
}

#logo { 
	display: none;
}

#mobilenav {
	display: flex;
	flex-direction: column;
	
}

#logoandsignuplink {
	width: 375px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;

}




#logomobile {
	margin-left: 19px;	

}

#signupmobile {
	margin-right: 18px;
	white-space: nowrap;
	color: #0065FC;
	font-size: 16px;
}

#signupmobile:hover {
	color: black;
}

#accomandactivities {
	width: 375px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 12px;
	
	
}



#accomandactivities > h1 {
	width: 50%;
	color: #0065FC;
	text-align: center;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: 10;
}

#accomandactivities > h1{
	width: 50%;
	color: black;
	text-align: center;
	border-bottom: 3px solid #F2F2f2;
}



#accomandactivities > h1:hover {     /* Hover effects for nav links */
	border-bottom: 3px solid #0065FC;
	color: #0065FC;

}
/* ------------------ NAVIGATION BAR ----------------------*/

ul {
	display: flex;
	height: 100px;
	list-style: none;
	align-items: flex-end;
	padding-left: 0;

}


a {
	text-decoration: none;
	color: #0065FC;
}



li:hover {

	border-top-style: solid;
	border-top-color: #0065FC;
}



a:visited {

	color: #000000;
}



a:active {
	color: #000000;
}



.underlogo h3 {   /* Text under the logo and nav */
	max-width: 375px;
	font-size: 22px;
	font-weight: 700;
	margin: 20px;
	letter-spacing: -0.5px;
	
}

.underlogo p {
	
	margin: 0px 0px 30px 20px;
	font-weight: 100;
}

/*-------------SEARCH BAR-----------------------*/

#search {
	width: 100%;
	display: flex;
	width: 334px;
	border-top: .2px solid #F2F2f2;
	border-bottom: .2px solid #F2F2f2;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 15px;
	

}


/* Hides desktop search button */
.searchbutton {              
	display: none;
}

/*---------- Map Icon ------------*/

#search i {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background-color: #F2F2f2;
	height: 51px;
	width: 51px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	position: relative;
	left: 0px;
	flex-shrink: 0;
	

}

/*---------- Input Box ------------*/

#search input { /* Styles input box */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 245px;
	height: 51px;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-indent: 17px;
	font-size: 18px;
	border-style: none;
	outline: none;
	
	

	

}

input:focus { /*Gets rid of default outline and borders on click */
	border-style: none;
	outline: none;
	
	
}


input::placeholder { /*Styles placeholder text */
	text-indent: 17px;
	color: black;
	font-weight: 600;

}


/*---------- Search Button------------*/

#search i:last-of-type {
	color: white;
	background-color: #0065FC;
	border-radius: 15px;

}



/*-------------FILTERS---------------*/

.filtertextmobile { /* Styles text that says Filter left of the buttons */

	font-weight: bold;
	width: 337px; height: 22px;
	margin: 36px 0px 16px 0px;
	font-size: 18px;
	
}


.filters { /* Container for filters including filter button*/
	
	width: 337px; height: 192px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	
}	


.filters i { /*   JUST THE ICONS    */
	color: #0065FC;
	background-color: #DEEBFF;
	height: 19px;
	width: 19px;
	padding: .75em;
	border-radius: 100%;
	border-style: 10px solid #DEEBFF;
	margin-right: 12px;
	border: 2px solid #DEEBFF;
	position: relative;
	left: -2px;
	display: flex;
	align-items: center;
	justify-content: center;





	}

.option {  /* Filter button containers (includes the icon and text)  */
	margin: 7px 0px 7px 0px;
	border: 2px solid #E8E8E8;
	border-radius: 25px;
	padding: 0em .75em 0em 0em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 50px;
	
}


.option:nth-of-type(1) {  /* Low Cost */
	padding-right: 18px;
}

.option:nth-of-type(2) { /* Family-Friendly */
	
}

.option:nth-of-type(3) { /* Romatic */
	
	padding-right: 31px;
	order: 4;
	position: relative;
	left: -34px;
}

.option:nth-of-type(4) { /* Pets allowed */
	padding-right: 56px;
	order: 3;
}

.filters button {  /* Styles the text portion of the filter buttons */
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 625;
}


.option:active { /* Keeps text black on click */
	color: black;
}

.option:hover {
		box-shadow: 2px 2px 15px -5px #cccccc; 
		transform: scale(1.007);
		}

.filtertext {
	display: none;
}


/* "more than 500 accomodations...." */
.info {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	width: 100%;
	font-size: 1.5e
m;
}






/*    This is the i icon    */



#icon {
	font-size: 12px;
	border-radius: 25px;
	color: #0065FC;
	border: 1.5px solid #F2F2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5px;
	width: 5px;
	padding: 9px;
}



.info {
	display: flex;
	margin: 10px 0px 18px 0px;
	}


.info p {
	font-size: 15px;
	padding-left: 12px;	
	width: 300px;
}


/* ---------------------- Section 1, 2 and 3 Div ------------------------- */

#section1andsection2 { 
	display: flex;
	flex-direction: column;
	width: 100%;
}





/*  SECTION 1  -------- ACCOMMODATIONS ---------  CONTAINER w/ 6 DIVS  */

.section1 {
	width: 375px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	order: 2;
	
}



/*  ARTICLES INSIDE OF SECTION 1  */


.section1 article {
	width: 334px;
	height: 199px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 4px solid white;
	overflow: hidden;
	border-radius: 25px;
	background-color: white;
	margin: 12px 12px 8px 12px;

}



.section1 h1 {
	width: 100%;
	margin: 41px 0px 10px 20px;
	font-size: 21px;
	font-weight: 700;


}


/* Section 1 Images */
.section1 img{
	height: auto;
	width: 110%;
	object-fit: cover;
	

}

.rating {
	display: inline;
	margin-top: 1px;
	color: #0065FC;
	margin-bottom: 5px;
}

.rating i:nth-child(1) {
	margin-left: 10px;


}

/* Section 1 h4 and p inside of article */

.section1 h4 {
	margin: 10px 0px 0px 10px;
	font-size: 16px;

}

.section1 p {
	margin-left: 5px;
	font-size: 14px;
	margin: 5px 0px 0px 10px;
}

.section1 > h4:last-of-type {
	width: 100%;
	margin-left: 200px;
	
}	


/* Section 1 gray stars */
 
#Auberge > i:nth-of-type(5) {
	color: #dedede;

}


#Lesmouettes> i:nth-of-type(5) {
	color: #dedede;
	

}

#delamar> i:nth-of-type(n+4) {
	color: #dedede;
	

}

#aubergelepanier > i:nth-of-type(5) {
	color: #dedede;
}

/* Star Sizing */
.staricon {
	margin-right: -3px;
	font-size: 12px;
}
/*  -------------------------------  SECTION 2------------------------------------*/


/* Section 2 Images */
.section2 img {
	height: 144px;
	border-top-left-radius: 15px;

}



/*  SECTION 2 CONTAINER w/ 3 DIVS  */
.section2 {
	height: 100%;
	width: 375px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 27px;

	

}

/*  SECTION 2 "MOST POPULAR" text with chart icon  */

#section2header {
	width: 375px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

#section2header h1 {
	margin-left: 20px;
	font-size: 21px;
	font-weight: 700;
	
}




/*  DIVS INSIDE OF SECTION 2 CONTAINER  */
.section2mostpop {
	height: 144px;
	width: 334px;
	margin: 9px 9px 0px 9px;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	border: 6px solid white;
	
}

.section2 div:nth-of-type(4){
	margin-bottom: 10px;
}

.section2 img {
	width: 132px;
	object-fit: cover;
}

#section2header i {
	font-size: 23px;
	margin-right: 18px;
	
}


.section2text {
	width: 202px;
	margin-right: 15px;

}

/* Section 2 Article header and p */

.section2 h4 {
	font-size: 16px;
	font-weight: 700;
	text-indent: right;
	margin: 13px 0px 0px 18px;
	height: 35px;
}


.section2 p {
	font-size: 15px;
	margin: 13px 0px 0px 18px;
}



.section2text i {
	color: #0065FC;
	margin-top: 45px;
	margin-right: -3px;
	font-size: 12px;
}

.section2 i:nth-of-type(1) {
	margin-left: 18px;
}

/* Section 2 gray stars */
 
#morningsun > i:nth-of-type(5) {
	color: #dedede;

}

#bedandbreakfast > i:nth-of-type(5) {
	color: #dedede;

}

#toutbleu > i:nth-of-type(5) {
	color: #dedede;

}

.section1 h3 {
	width: 395px;
	margin-left: 20px;
}

/*----------------------------------------------SECTION 3----------------------------------------------------*/

.section3 {
	width: 375px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#section3headertablet {
	width: 375px;
	margin-left: 40px;
	margin-top: 40px;
}

#section3headerdesktop {
	display: none;
}



.section3 article {       /*---------------- HIDES OVERFLOW ---------------*/ 
	overflow: hidden;
	border-radius: 25px;
	border-color: #f2f2f2;
	margin: 0px 0px 8px 0px;
}




.section3 article {  /*------------------- Articles -------------------*/ 
  	height: 190px;
  	width: 334px;
  	display: flex;
  	flex-direction: column;
  	align-items: left;
 	justify-content: flex-end;
	overflow: hidden;
	margin-bottom: 24px;
}

.section3 img {
  height: 100%;
  width: 334px;
  object-fit: cover;
}

.section3 > article > h4 {
	margin: 22px 0px 20px 19px;
	font-size: 16px;
	font-weight: 700;
}

.section3 h1 {
	font-size: 21px;
	margin-bottom: 30px;
}





/*-------------------------FOOTER--------------------------*/
footer {
	display: flex;
	flex-direction: row;
	width: 375px;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	font-size: 16px;
	height: 485px;
	margin-top: 47px;
}



.footcolumn {
	width: 375px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	
}


#footercolumn1 {
	margin: 47px 0px 44px 28px;
	padding: 0px;

}

#footercolumn2 {
	margin: 0px 0px 44px 28px; 
	padding: 0px;
}

#footercolumn3 {
	margin: 0px 0px 44px 28px;
	padding: 0px; 
}

.footcolumn a {
	color: #000000;
	padding-bottom: 13px;

}

.footcolumn a:first-of-type {
	margin-top: 19px;
	
}
.footcolumn h3 {
	font-weight: 900;
	margin: 0px;
}

.footcolumn a:last-of-type {
	padding-bottom: 0px;
}



