body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article { 
	box-shadow: 2px 3px 20px -5px #cccccc; 
}


article:hover {
	transform: scale(1.007);
}


a {
	text-decoration: none;

}


a:visited {
	color: black;
}


p {
	font-weight: 400;
	
}



/* -- Blue #0065FC 

   -- Lighter Blue #DEEBFF

   -- Gray #

   -- Darker Gray (for Filter Button border) #D9D9D9

----------------------*/


/*  Nav  */

nav {
	width: 100%;

}


#mobilenav {
	display: none;

}


ul {
	text-align: right;
	
}


li {
	display: inline-block;
	color: #0065FC;
	padding: 3% 3% 0% 3%;
	border-top-style: solid;
	border-top-color: #ffffff;

}


nav a {
	color: #0065FC !important;

}


li:hover {
	border-top-style: solid;
	border-top-color: #0065FC;

}


a:visited {
	color: #000000;

}


a:active {
	color: #000000;

}


/*  Logo and text under the logo  */

.logowrapper {
	width: 98%;
	display: flex;
	flex-flow: column nowrap;

}


#logo { 
	height: auto;
	margin-bottom: 25px;
	width: 90px;
	
}	
	


.underlogo h3 {   
	font-size: 20px;
	margin: 0px 0px 8px 0px;
	letter-spacing: .1px;
	word-spacing: .3px;
	font-size: 20px;

}


.underlogo p {   
	font-size: 15.5px;
	margin: 0px 0px 20px 0px;

}


/*  Search Bar  */

#search {
	display: flex;
	margin-left: 10px;
	width: 380px;
	height: 50px;
	justify-content: space-between;
	align-self: flex-start;
	margin-left: 1%;

}


#search i {
	background-color: #F2F2f2;
	height: 37px;
	width: 37px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;

}


#search input { 
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-indent: 17px;
	font-size: 18px;
	border-style: none;
	outline: none;
	border-top: .2px solid #F2F2f2;
	border-bottom: .2px solid #F2F2f2;
	width: 234px;
}


input:focus { 
	border-style: none;
	outline: none;
	
}

input::placeholder { 
	text-indent: 17px;
	font-weight: 500;
	color: black;

}


#search i:first-of-type {
	height: 50px;
	width: 52px;
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;
}

#search i:last-of-type {
	display: none;
}

#search button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0065FC;
	height: 50px;
	width: 94px;
	margin: 0px;
	padding: 0px;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	color: white;
	border-style: none;
	font-size: 18px;
}



/*  Filter Buttons  */

/*  Wrapper for buttons and text  */

.filters { 							
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 10px 0px 0px 2%;
	width: 100%;
	height: fit-content;

}


.filtertext { 					
	font-size: 18px;
	width: 100%;
	margin: 10px 0px 10px 0px;

}


.filters i { 				
	color: #0065FC;
	background-color: #DEEBFF;
	height: 45px;
	width: 45px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #DEEBFF;
	position: relative;
	left: -2px;
	bottom: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;

}


.option:active { 				
	color: black;

}


.option {  			
	height: 50px;
	border: 2px solid #D9D9D9;
	border-radius: 35px;
	padding: 0px 18px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	white-space: nowrap;
	background-color: white;
	margin: 0% 1% 1% 0%;
	font-size: 17px;
	font-weight: 600;

}


.option:hover {
	box-shadow: 2px 2px 15px -5px #cccccc; 
	transform: scale(1.007);
}


.filtertextmobile { 	
	display: none;
}




/*  i icon and 'more than 500 accommodations... */

						
.info {	/*  "more than 500 accomodations...."  */
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	width: 100%;
	align-self: flex-start;
	margin: 0px 0px 18px 2%;
	
}


#icon {
font-size: 12px;
border-radius: 25px;
color: #0065FC;
border: 1.5px solid #F2F2f2;
display: flex;
justify-content: center;
align-items: center;
height: 5px;
width: 5px;
padding: 9px;

}


.info p {
font-size: 16px;
padding-left: 12px;	
font-weight: 400;

}

 
#section1andsection2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


/*  Section 1 container with 6 articles  */

.section1 {
	width: 100%;
	height: 625px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
	background-color: #F2F2F2;

}

/* Section 1 Images */

.section1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.section1 article {
	width: 218px;
	height: 200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	line-height: 1px;
	border-radius: 25px;
	background-color: white;
	border: 5px solid white;

}

.section1 a {
	margin: .5%;
}

.section1  > h2 {
	width: 100%;
	margin: 30px 0px 20px 4%;
	display: flex;
	font-size: 21px;
}


.rating {
	display: inline;
	margin-top: 1px;
	color: #0065FC;
	margin-bottom: 5px;

}

.rating i:nth-child(1) {
	margin-left: 10px;

}

.section1 h4 {
	margin-left: 10px;
	font-size: 16px;
	height: 100%;

 } 


.section1 p {
	margin: 0px 0px 12px 10px;
	font-size: 15px;

}

.section1 > h3:last-of-type {
	width: 100%;
	margin-left: 4%;
	font-size: 18px;

}	


/* Section 1 gray stars */
 
#Auberge > i:nth-of-type(5) {
	color: #dedede;

}


#Lesmouettes> i:nth-of-type(5) {
	color: #dedede;
	

}

#delamar> i:nth-of-type(n+4) {
	color: #dedede;
	

}

#aubergelepanier > i:nth-of-type(5) {
	color: #dedede;
}



/* Star Sizing */

.staricon {
	margin-right: -4px;
	font-size: 12px;
}


/*  Section 2 container with 3 articles  */

.section2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 50px;
	background-color: #F2F2F2;
  	border-radius: 15px;
  	margin: 60px 0px 30px 0px;

}


.section2 img {
	width: 100%;
	height: 57%;
	object-fit: cover;

}

/*  Section 2 header with chart icon  */

#section2header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	align-items: center;
	justify-content: space-between;
	margin: 18px 20px 20px 4%;
	
}


#section2header h2 {
	font-size: 21px;

}


/*  Section 2 articles  */

.section2 article {
	width: 218px;
	height: 218px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	border-radius: 25px;
	background-color: white;
	border: 5px solid white;

}


#section2header i {
	font-size: 1.5em;
	margin-right: 3%;

}


.section2text {
	height: 43%;
	width: 200px;
	margin: 5px 15px 5px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 200px;

}

.mostpopulartext {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 60px;
}


.section2 p {
	line-height: 0px;
	margin-top: 0px;
	font-size: 15px;
	width: 200px;
	margin-bottom: 8px;
}


.section2 h4 {
	margin: 0px;
}


.section2text i {
	color: #0065FC;
	margin: 5px 1px 0px 0px;
	line-height: 0px;

}


/* Section 2 gray stars */
 
#morningsun > i:nth-of-type(5) {
	color: #dedede;

}


#bedandbreakfast > i:nth-of-type(5) {
	color: #dedede;

}


#toutbleu > i:nth-of-type(5) {
	color: #dedede;

}


/*  Section 3 container with 6 articles  */

#section3headertablet {
	width: 100%;
	margin: 30px 0px 20px 5%;
	display: flex;
	font-size: 21px;
}


#section3headerdesktop {
	display: none;
}


.section3 {
	width: 100%;
	height: 550px;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
  	align-items: center;
  	padding-bottom: 30px;

}


.section3 > article {
	width: 218px;
	height: 200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	border-radius: 25px;
	background-color: white;
	margin: .5%;

}


.section3 img {
	height: 195px;
	width: 100%;
	object-fit: cover;
	
}


.section3 h4 {
	font-size: 14px;
	margin: 0px 0px 0px 12px;
	padding: 15px 0px 15px 0px;

}


.section3 article:nth-of-type(2) img {
	height: 200px;

}


/* Footer */

footer {
	display: flex;
	flex-direction: column;
	height: 240px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: #F2F2F2;
	margin-top: 40px;

}


.footcolumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 240px;
	height: 200px;
	margin-top: 40px;

}


.footcolumn a {
	color: #000000;
	padding-bottom: 15px;
	align-self: center;
	font-size: 15px;
	font-weight: 400;

}


.footcolumn h3 {
	font-size: 17px;
	height: 2em;
	font-weight: bold;

}
