

body {
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
	}



/* ---------------- Hover Effects (Remove section2mostpop and .section3 > div when I change divs into articles) */

article:hover {
	transform: scale(1.007);
}

/* -- Blue #0065FC 

   -- Lighter Blue #DEEBFF

   -- Gray #F2F2F2

----------------------*/


/* ------------------ NAVIGATION BAR ----------------------*/

nav {
	
	width: 100%;
}

#mobilenav {
	display: none;
}

ul {
	text-align: right;
	
}



li {
	
	display: inline-block;
	color: #0065FC;
	padding: 3% 3% 0% 3%;
}



a {
	text-decoration: none;
	color: #0065FC;
}



li:hover {

	border-top-style: solid;
	border-top-color: #0065FC;
}



a:visited {

	color: #000000;
}



a:active {
	color: #000000;
}


/*----------------- LOGO -----------------------*/

.logowrapper {
	width: 725px;
	display: flex;
	flex-flow: column nowrap;
	margin-left: 20px;
	
	

}

#logo { /*Reservia Logo*/
	width: 120px;
	height: auto;
	padding-bottom: 1em;
	
}	
	

.underlogo {
	line-height: 80%;
	



}


.underlogo h3 {    /*---Styles header----*/
	font-weight: 900;
	font-weight: bold;
}


/*-------------SEARCH BAR-----------------------*/

#search {
	display: flex;
	align-self: flex-start;
	margin: 20px 0px 20px 30px;




}

/*---------- Map Icon ------------*/

#search i {
	background-color: #F2F2f2;
	height: 37px;
	width: 37px;
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;

}

/*---------- Input Box ------------*/

#search input { /* Styles input box */
	border-radius-bottom-right: 8px;
	border-radius-bottom-left: 8px;
	width: auto;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-indent: 1em;
	font-size: 1.2em;
	border-style: none;
	outline: none;
	border-top: .2px solid #F2F2f2;
	border-bottom: .2px solid #F2F2f2;
	

}

input:focus { /*Gets rid of default outline and borders on click */
	border-style: none;
	outline: none;
	
	
}


input::placeholder { /*Styles placeholder text */
	text-indent: 1em;
	font-weight: 500;
	color: black;

}


/*---------- Search Button------------*/

#search button {
	background-color: #0065FC;
	height: 37px;
	width: 62px;
	margin: 0px;
	padding: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 1.2em;
	color: white;
	border-style: none;



}



/*-------------FILTERS---------------*/




.filters { /* Container for filters including filter button*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 700px;
	

	


}


.filters i { /*   JUST THE ICONS    */
	color: #0065FC;
	background-color: #DEEBFF;
	height: 11.5px;
	width: 11.5px;
	padding: .65em;
	font-size: 1.2em;
	border-radius: 100%;
	border-style: 10px solid #DEEBFF;
	margin-right: .5em;
	border: 2px solid #DEEBFF;
	position: relative;
	left: -2px;
	display: flex;
	align-items: center;
	justify-content: center;





	}

.filters > button:nth-of-type(1) {  /* Filter button containers (includes the icon and text)  */

	border: 2px solid #F2F2F2;
	border-radius: 35px;
	padding: 0em 5px 0em 0em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	

}

.filters > button {
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	padding: 0em 5px 0em 0em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.filters button {  /* Styles the text portion of the filter buttons */
	font-weight: 500;
	font-size: 1.2em;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;



}


.option:active { /* Keeps text black on click */
	color: black;
}

.filtertext { /* Styles text that says Filter left of the buttons */
	padding: 10px 0px;
	font-weight: bold;
	font-size: 1.2em;
	width: 100%;
	margin: 10px 0px 10px 0px;
}

.filtertextmobile { /* Hides mobile Filter text */
	display: none;

}



/* "more than 500 accomodations...." */
.info {
	width: 725px;
	display: flex;
	align-self: center;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	


}








#icon {
	width: 5.3px;
	height: 5.3px;
	border-radius: 25px;
	padding: .7em;
	font-size: .7em;
	color: #0065FC;
	border: 1px solid #F2F2f2;
	display: flex;
	justify-content: center;
	align-items: center;


}






.info p {
	padding: 1em;

	
	
}



 
#section1andsection2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 750px;
}



/*  SECTION 1  ------------------------------ ACCOMMODATIONS ----------------  CONTAINER w/ 6 DIVS  */

.section1 {
	width: 725px;
	height: 625px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	


	

	

}



/*  ARTICLES INSIDE OF SECTION 1  */


.section1 article {
	width: 220px;
	height: 176px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	line-height: 1px;
	border-radius: 25px;
	box-shadow: 3px 5px 5px #e3e3e3;
	background-color: white;
	border: 5px solid white;
	margin: 10px;

}

.section1  > h1 {
	width: 100%;
	margin: 30px 0px 20px 20px;
	display: flex;
}

/* Section 1 Images */
.section1 img{
	height: 100%;
	width: 120%;
	object-fit: cover;
	

}

.rating {
	display: inline;
	margin-top: 1px;
	color: #0065FC;
	margin-bottom: 5px;
}

.rating i:nth-child(1) {
	margin-left: 5px;


}

.section1 h3 {
	margin-left: 5px;
}

.section1 p {
	margin-left: 5px;
}

.section1 > h3:last-of-type {
	width: 100%;
	margin-left: 20px;

}	


/* Section 1 gray stars */
 
#Auberge > i:nth-of-type(5) {
	color: #dedede;

}


#Lesmouettes> i:nth-of-type(5) {
	color: #dedede;
	

}

#delamar> i:nth-of-type(n+4) {
	color: #dedede;
	

}

#aubergelepanier > i:nth-of-type(5) {
	color: #dedede;
}



/* Star Sizing */
.staricon {
	margin-right: -4px;
	font-size: 12px;
}
/*  -------------------------------  SECTION 2------------------------------------*/


/* Section 2 Images */
.section2 img {
	height: 120px;
	border-top-left-radius: 15px;

}



/*  SECTION 2 CONTAINER w/ 3 DIVS  */
.section2 {
	
	width: 725px;
	height: 100%;
	border-radius: 15px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 50px;
	
	

}

/*  SECTION 2 "MOST POPULAR" text with chart icon  */

#section2header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	align-items: center;
	justify-content: space-between;
	margin: 18px 20px 20px 20px;
}





/*  DIVS INSIDE OF SECTION 2 CONTAINER  */

.section2mostpop {
	width: 220px;
	height: 176px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	line-height: 1px;
	border-radius: 25px;
	box-shadow: 3px 5px 5px #e3e3e3;
	background-color: white;
	border: 5px solid white;
	margin: 10px;

	
}


#section2header i {
	font-size: 1.5em;
}


.section2text {
	width: 200px;
	white-space: nowrap;
	margin-right: 15px;



}


.section2 p {
	
	margin-left: .5em;
}

.section2 h3 {
	
	text-indent: right;
	margin-left: .5em;
}

.section2text i {
	
	color: #0065FC;
	

}

#firststardiv1 {

	margin-left: .5em;
	
}

#firststardiv2 {

	margin-left: .5em;
	
}

#firststardiv3 {

	margin-left: .5em;
	
}

/* Section 2 gray stars */
 
#morningsun > i:nth-of-type(5) {
	color: #dedede;

}

#bedandbreakfast > i:nth-of-type(5) {
	color: #dedede;

}

#toutbleu > i:nth-of-type(5) {
	color: #dedede;

}


/*----------------------------------------------SECTION 3----------------------------------------------------*/

#section3headertablet {
	width: 100%;
	margin: 35px 20px 20px 20px;
	display: flex;

}

#section3headerdesktop {
	display: none;
}

.section3 {
	
	width: 725px;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
  	align-items: center;
  	background-color: #F2F2F2;
  	border-radius: 15px;
	margin: 25px 0px;
	padding-bottom: 50px;

}



.section3 p {
	margin-left: 1em;
}





.section3 > article {  /* ---------------  SECTION 3 DIVS ---------------  */ 
	width: 220px;
	height: 176px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	line-height: 1px;
	border-radius: 25px;
	box-shadow: 3px 5px 5px #e3e3e3;
	background-color: white;
	border: 5px solid white;
	margin: 10px;
	overflow: hidden;


}



.section3 img {
	height: 100%;
	width: 120%;
	object-fit: cover;

}


#section12and3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 750px;
}


/*-------------------------FOOTER--------------------------*/
footer {

	
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #F2F2F2;
	padding: 2em 2em 2em 8em;
	margin-top: 75px


}



.footcolumn {
	
	display: flex;
	flex-direction: column;
	

}




.footcolumn a {
	color: #000000;
	padding-bottom: .75em;
}

.footcolumn h3 {
	font-weight: 900;
}
